<div class="parentEntriesTable">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Booking ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Days Column -->
      <ng-container matColumnDef="days">
        <th mat-header-cell disabled *matHeaderCellDef mat-sort-header> Days Left</th>
        <td mat-cell *matCellDef="let row"
            [style.color]="(row.days<5 ? 'red': row.days>15 ? 'green' : 'blue')"> {{row.days}}d
        </td>
      </ng-container>

      <!-- Borrower Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <!-- Book Name Column -->
      <ng-container matColumnDef="bookName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Book</th>
        <td mat-cell *matCellDef="let row"> {{row.bookName}} </td>
      </ng-container>
      <!-- ISBN Column-->
      <ng-container matColumnDef="isbn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ISBN</th>
        <td mat-cell *matCellDef="let row"> {{row.isbn}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
      <!-- Return book button -->
      <ng-container  matColumnDef="actions">
        <th mat-header-cell mat-sort-header disabled *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let element">
          <button (click)="deleteLoan(element.id)" mat-stroked-button color="primary">Return Book</button>
        </td>
      </ng-container>

    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>
  <div style="padding-top: 1%;padding-bottom: 2%" mat-dialog-actions align="end">
    <button mat-raised-button color="primary" routerLink="/new-booking"  routerLinkActive="active">Add new booking</button>
  </div>
</div>
