<form method="post" #f="ngForm" name="network-env-form" (ngSubmit)="addBookingEntry(f)" class="new-booking-form">
  <mat-form-field class="full-width">
    <input name="name" required matInput
           [(ngModel)]="borrowerName" #name="ngModel"
           placeholder="Borrower Name">
    <mat-error>Name is required</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput required name='book'
           [(ngModel)]="bookName" #book="ngModel"
           placeholder="Book">
    <mat-error>Book is required</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <!-- it will match only numbers from 15 till 30  -->
    <input matInput required name='days'
           [(ngModel)]="days" #Days="ngModel" type="number"
           pattern = "([1-2][0-9]|[3][0])"
           placeholder="Days">
    <mat-error>You can issue books only in a range between 10-30 days</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput required name='bookIsbn'
           [(ngModel)]="isbn" #bookIsbn="ngModel" type="number"
           pattern = "[0-9]{9}"
           placeholder="ISBN">
    <mat-error>ISBN is required and should contain exactly 9 numbers!</mat-error>
  </mat-form-field>

  <div mat-dialog-actions align="end">
    <button type="submit" value="submit" mat-raised-button style="margin-right:5px;" color="primary">Add</button>
    <a mat-stroked-button routerLink="/home" routerLinkActive="active">Cancel</a>
  </div>
</form>
