<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-raised-button class="toolbar_element" routerLink="home" routerLinkActive="active">Home</a>
    <a mat-raised-button class="toolbar_element" routerLink="bookings" routerLinkActive="active">Bookings</a>
    <a mat-raised-button class="toolbar_element" color="accent"
       href="https://gitlab.com/OlegZharkov/new-library-frontend/wikis/New-Library-Frontend" target="_blank">Docs</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
