<div style="padding-top: 3%; text-align: center">
  Welcome to my amazing Library! Do you want to add a booking?
</div>

<!--<img class="library_img" src="assets/img/modern-library.jpg" height="30%" alt="Modern Lib">-->


<div class="wrapper">
  <button mat-fab color="primary" routerLink="/new-booking" routerLinkActive="active" class="new_booking_button">
    Add new booking!
  </button>

  <button style="margin-left: 10%;" mat-fab color="accent" routerLink="/bookings" routerLinkActive="active" class="new_booking_button">
    See bookings!
  </button>
</div>
