.new_booking_button {
  width: 150px;
  height: 150px;
}
.home_icon {
  color: green;
}
.wrapper {
  padding-top: 3%;
  text-align: center;
}
.library_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
